<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hungryduck.foodtruck">
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name="com.hungryduck.foodtruck.utility.GlobalApplication">

        <activity
                android:name="com.hungryduck.foodtruck.Splash"
                android:theme="@style/SplashTheme"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hungryduck.foodtruck.MainActivity">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.user.UserLogin">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.seller.SellerLogin">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.seller.ReviewMore">

        </activity>

<!--        <activity android:name="com.facebook.FacebookActivity"-->
<!--                  android:configChanges=-->
<!--                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
<!--                  android:label="@string/app_name" />-->

        <activity android:name="com.hungryduck.foodtruck.utility.SampleSignupActivity">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.seller.SellerTabFragment">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.user.UserTabFragment">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.seller.MenuManagement">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.seller.SellerMenuAdd">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.seller.StoreManagement">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.seller.SpotDetail">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.user.UserTruckInfo" android:exported="true">

        </activity>
        <activity android:name="com.hungryduck.foodtruck.user.UserReviewAdding">

        </activity>
        <!--Permission-->

        <!--Appkey-->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_key" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>

</manifest>